<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('self-closing')">Self-Closing Tags</li>
      <li class="link"
          (click)="scrollIntoView('formats')"> Image Formats</li>
      <li class="link"
          (click)="scrollIntoView('display')"> Display Property</li>
    </ul>
  </div>
</div>

<!-- Self-Closing Tags -->
<div class="row" id="self-closing">
  <h2 class="col-md-3">Self-Closing Tags</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="http://www.w3schools.com/tags/tag_img.asp" target="_blank">&lt;img /></a></li>
      <li><a href="http://www.w3schools.com/tags/tag_link.asp" target="_blank">&lt;link /></a></li>
      <li><a href="http://www.w3schools.com/tags/tag_br.asp" target="_blank">&lt;br /></a></li>
      <li><a href="http://www.w3schools.com/tags/tag_input.asp" target="_blank">&lt;input /></a></li>
    </ul>
  </div>
</div>
<!-- End Self-Closing Tags -->

<!-- Image Formats -->
<div class="row" id="formats">
  <h2 class="col-md-3">Image Formats</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="http://www.w3schools.com/html/html_images.asp" target="_blank">< img ></a> tags</li>
        <ul style="margin-left: 50px;">
          Formats:
          <li><a href="https://css-tricks.com/when-to-use-jpg-and-when-to-use-gif/" target="_blank">JPG &amp; PNG</a></li>
          <li>The amazing <a href="https://css-tricks.com/using-svg/" target="_blank">SVG</a>!!! <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg></li>
          <li>How to pronounce <a href="https://www.youtube.com/watch?v=8LRllx9RVDs" target="_blank">gif</a></li>
        </ul>
      <li>How to use Google-searched Images...(but don't, though...)</li>
      <li>Here is one site with free images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></li>
    </ul>
  </div>
</div>
<!-- End Image Formats -->

<!-- Display Property -->
<div class="row" id="display">
  <h2 class="col-md-3">Display Property</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="http://www.w3schools.com/cssref/pr_class_display.asp" target="_blank">Display</a> property</li>
      <li>Block</li>
      <li>Inline</li>
      <li>Inline-Block</li>
      <li>None</li>
      <li><a href="https://css-tricks.com/almanac/properties/d/display/" target="_blank">More...</a></li>
      <li>Display vs Visibility</li>
    </ul>
  </div>
</div>
<!-- End Display Property -->
