<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('dom')"> DOM Cont.</li>
      <li class="link"
        (click)="scrollIntoView('cond')"> Conditions</li>
      <li class="link"
        (click)="scrollIntoView('loop')"> Loops and Iteration</li>
      <li class="link"
        (click)="scrollIntoView('built-in')"> Built-in Objects</li>
    </ul>
  </div>
</div>

<!-- DOM Cont. -->
<div class="row" id="dom">
  <h2 class="col-md-3">DOM Cont.</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>DOM Event Listeners</li>
    </ul>
  </div>
</div>
<!-- End DOM Cont. -->

<!-- Conditions -->
<div class="row" id="cond">
  <h2 class="col-md-3">Conditions</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>If, Else If, Else</li>
      <li>Switch</li>
    </ul>
  </div>
</div>
<!-- End Conditions -->

<!-- Loops and Iteration -->
<div class="row" id="loop">
  <h2 class="col-md-3">Loops and Iteration</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>For</li>
      <li>Do while</li>
      <li>While</li>
      <li>For in</li>
      <li>For of</li>
    </ul>
  </div>
</div>
<!-- End Loops and Iteration -->

<!-- Built-in Objects -->
<div class="row" id="built-in">
  <h2 class="col-md-3">Built-in Objects</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Date</li>
      <li>Math</li>
      <li>String</li>
      <li>Array</li>
      <li>Object</li>
    </ul>
  </div>
</div>
<!-- End Built-in Objects -->
