<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('position')"> Position Property</li>
      <li class="link"
        (click)="scrollIntoView('hover')"> Hover</li>
      <li class="link"
        (click)="scrollIntoView('fonts')"> Fonts</li>
      <li class="link"
        (click)="scrollIntoView('anchor')"> Links using the Anchor Tag</li>
      <li class="link"
        (click)="scrollIntoView('maps')"> Google Maps</li>
      <li class="link"
        (click)="scrollIntoView('audio-video')"> Audio &amp; Video</li>
      <li class="link"
        (click)="scrollIntoView('media')"> Media View Port and Media Queries</li>
    </ul>
  </div>
</div>

<!-- Position Property -->
<div class="row" id="position">
  <h2 class="col-md-3">Position Property</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="http://www.w3schools.com/cssref/pr_class_position.asp" target="_blank">Position</a> property</li>
      <li><code>Fixed</code> nav vs. <code>static</code> nav</li>
    </ul>
  </div>
</div>
<!-- End Position Property -->

<!-- Hover -->
<div class="row" id="hover">
  <h2 class="col-md-3">Hover</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>What's the <a href="http://www.w3schools.com/cssref/sel_hover.asp" target="_blank">hover</a> selector?</li>
      <li>When should we use them?</li>
    </ul>
  </div>
</div>
<!-- End Hover -->

<!-- Fonts -->
<div class="row" id="fonts">
  <h2 class="col-md-3">Fonts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a></li>
      <li>Explore the data collection of Google!</li>
      <li>Serif vs. Sans-serif</li>
      <li><a href="https://www.w3schools.com/cssref/pr_font_font-family.asp" target="_blank">font-family</a></li>
      <li><a href="https://www.w3schools.com/cssref/pr_font_weight.asp" target="_blank">font-weight</a></li>
      <li><a href="https://www.w3schools.com/cssref/css3_pr_text-shadow.asp" target="_blank">text-shadow</a></li>
    </ul>
  </div>
</div>
<!-- End Fonts -->

<!-- Links using the Anchor Tag -->
<div class="row" id="anchor">
  <h2 class="col-md-3"> Links using the Anchor Tag</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>What's an <a href="https://www.w3schools.com/TAgs/tag_a.asp" target="_blank">anchor</a> tag?</li>
      <li>How do we open our link in a new tab?</li>
      <li>What can we make into a link?</li>
    </ul>
  </div>
</div>
<!-- End Links using the Anchor Tag -->

<!-- Maps -->
<div class="row" id="maps">
  <h2 class="col-md-3">Google Maps</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://www.google.com/maps/@36.6162087,-119.1390356,12z" target="_blank">Google Maps</a></li>
      <li>Enter an address</li>
      <li>Use the embed to add it to our site!</li>
    </ul>
  </div>
</div>
<!-- End Maps -->

<!-- Audio &amp; Video -->
<div class="row" id="audio-video">
  <h2 class="col-md-3">Audio &amp; Video</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Click <a href="https://www.w3schools.com/html/html5_audio.asp" target="_blank" >here</a> to learn about audio</li>
      <li>
        <audio controls>
          <source src="./assets/lightsaber.wav" type="audio/wav">
        </audio>
      </li>
      <li>Click <a href="https://www.w3schools.com/html/html5_video.asp"  target="_blank">here</a> to learn about embedded video</li>
      <!-- <video width="400" height="400" controls>
        <source src="example.mov" type="video/mp4">
      </video> -->
      <li>Or, you can use <a href="https://www.youtube.com/" target="_blank">YouTube</a> to embed them!</li>
    </ul>
    <span class="col-md-8 col-md-offset-2">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0LHxvxdRnYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </span>
  </div>
</div>
<!-- End Audio &amp; Video -->

<!-- Media View Port and Media Queries -->
<div class="row" id="media">
  <h2 class="col-md-3">Media View Port and Media Queries</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Media View Port <a href="https://www.w3schools.com/css/css_rwd_viewport.asp">Click Here</a></li>
      <li>Media Queries <a href="https://www.w3schools.com/css/css_rwd_mediaqueries.asp">Click Here</a></li>
    </ul>
  </div>
</div>
<!-- End Media View Port and Media Queries -->
