<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('position')"> Position Property</li>
      <li class="link"
        (click)="scrollIntoView('hover')"> Hover</li>
      <li class="link"
        (click)="scrollIntoView('fonts')"> Fonts</li>
    </ul>
  </div>
</div>

<!-- Position Property -->
<div class="row" id="position">
  <h2 class="col-md-3">Position Property</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="http://www.w3schools.com/cssref/pr_class_position.asp" target="_blank">Position</a> property</li>
      <li><code>Fixed</code> nav vs. <code>static</code> nav</li>
    </ul>
  </div>
</div>
<!-- End Position Property -->

<!-- Hover -->
<div class="row" id="hover">
  <h2 class="col-md-3">Hover</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>What's the <a href="http://www.w3schools.com/cssref/sel_hover.asp" target="_blank">hover</a> selector?</li>
      <li>When should we use them?</li>
    </ul>
  </div>
</div>
<!-- End Hover -->

<!-- Fonts -->
<div class="row" id="fonts">
  <h2 class="col-md-3">Fonts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a></li>
      <li>Explore the data collection of Google!</li>
      <li>Serif vs. Sans-serif</li>
      <li><a href="https://www.w3schools.com/cssref/pr_font_font-family.asp" target="_blank">font-family</a></li>
      <li><a href="https://www.w3schools.com/cssref/pr_font_weight.asp" target="_blank">font-weight</a></li>
      <li><a href="https://www.w3schools.com/cssref/css3_pr_text-shadow.asp" target="_blank">text-shadow</a></li>
    </ul>
  </div>
</div>
<!-- End Fonts -->
