<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('animate')"> CSS Transform &amp; Animations</li>
      <li class="link"
        (click)="scrollIntoView('flex')"> Flexbox</li>
      <li class="link"
        (click)="scrollIntoView('bootstrap')"> Bootstrap</li>
    </ul>
  </div>
</div>

<!-- CSS Transform &amp; Animations -->
<div class="row">
  <h2 class="col-md-3">CSS Transform &amp; Animations</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Do we <strong>need</strong> JS to make elements react?</li>
      <li><a href="https://css-tricks.com/almanac/properties/t/transform/#article-header-id-3" target="_blank">Translate</a></li>
      <li>A little more in-depth <a href="http://www.w3schools.com/css/css3_2dtransforms.asp" target="_blank">reference</a></li>
      <li>How about we <a href="https://css-tricks.com/almanac/properties/t/transform/#article-header-id-7" target="_blank">3D</a> this sucker?</li>
      <li><a href="https://css-tricks.com/almanac/properties/a/animation/" target="_blank">Animations</a>, anyone?</li>
      <li><a href="http://www.w3schools.com/css/css3_animations.asp" target="_blank">More</a> detail about animations</li>
    </ul>
  </div>
</div>
<!-- End CSS Transform &amp; Animations -->

<!-- Flexbox -->
<div class="row" id="flex">
  <h2 class="col-md-3">Flexbox</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Flexbox in <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">CSS Tricks</a></li>
      <li>Play Flexbox Froggy <a href="http://flexboxfroggy.com/" target="_blank">here</a></li>
    </ul>
  </div>
</div>
<!-- End Flexbox -->

<!-- Bootstrap -->
<div class="row" id="bootstrap">
  <h2 class="col-md-3">Bootstrap</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Click <a href="http://getbootstrap.com/getting-started/#download" target="_blank">here</a> to download Bootstrap.</li>
      <li>Copy Files</li>
      <li>In order to use a framework, you have to reference it. The two ways we will talk about are using a <a href="https://www.bootstrapcdn.com/" target="_blank">CDN</a> and native linking.</li>
      <li>Read more <a href="https://en.wikipedia.org/wiki/Content_delivery_network" target="_blank">here</a>.</li>
    </ul>
    <p class="point">Understanding Bootstrap <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-grid-system.php" target="_blank">Grid System</a> and <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">more</a>.</p>
  </div>
</div>
<!-- End Bootstrap -->
