<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('undef')"> Data Types Cont.</li>
      <li class="link"
        (click)="scrollIntoView('dom')"> DOM</li>
    </ul>
  </div>
</div>

<!-- Data Types Cont. -->
<div class="row" id="undef">
  <h2 class="col-md-3">Data Types Cont.</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Undefined & Null</li>
    </ul>
  </div>
</div>
<!-- End Data Types Cont. -->

<!-- DOM -->
<div class="row" id="dom">
  <h2 class="col-md-3">DOM</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>What is DOM?</li>
      <li>DOM Manipulation</li>
      <li>DOM Event Listeners</li>
    </ul>
  </div>
</div>
<!-- End DOM -->
