<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('nav')"> Build a Nav</li>
      <li class="link"
        (click)="scrollIntoView('display')"> Display Property</li>
      <li class="link"
        (click)="scrollIntoView('position')"> Position Property</li>
      <li class="link"
        (click)="scrollIntoView('hover')"> Hover</li>
      <li class="link"
        (click)="scrollIntoView('fonts')"> Fonts</li>
      <li class="link"
        (click)="scrollIntoView('anchor')"> Links using the Anchor Tag</li>
      <li class="link"
        (click)="scrollIntoView('maps')"> Google Maps</li>
    </ul>
  </div>
</div>

<!-- Build a Nav -->
<div class="row" id="nav">
  <h2 class="col-md-3">Build a Nav</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Use the UL, LI</li>
      <li>Brands &amp; <a href="https://www.freelogodesign.org/index.html" target="_blank">Logos</a></li>
    </ul>
  </div>
</div>
<!-- End Build a Nav -->

<!-- Display Property -->
<div class="row" id="display">
  <h2 class="col-md-3">Display Property</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="http://www.w3schools.com/cssref/pr_class_display.asp" target="_blank">Display</a> property</li>
      <li>Block</li>
      <li>Inline</li>
      <li>Inline-Block</li>
      <li>None</li>
      <li><a href="https://css-tricks.com/almanac/properties/d/display/" target="_blank">More...</a></li>
      <li>Display vs Visibility</li>
    </ul>
  </div>
</div>
<!-- End Display Property -->

<!-- Position Property -->
<div class="row" id="position">
  <h2 class="col-md-3">Position Property</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="http://www.w3schools.com/cssref/pr_class_position.asp" target="_blank">Position</a> property</li>
      <li><code>Fixed</code> nav vs. <code>static</code> nav</li>
    </ul>
  </div>
</div>
<!-- End Position Property -->

<!-- Hover -->
<div class="row" id="hover">
  <h2 class="col-md-3">Hover</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>What's the <a href="http://www.w3schools.com/cssref/sel_hover.asp" target="_blank">hover</a> selector?</li>
      <li>When should we use them?</li>
    </ul>
  </div>
</div>
<!-- End Hover -->

<!-- Fonts -->
<div class="row" id="fonts">
  <h2 class="col-md-3">Fonts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a></li>
      <li>Explore the data collection of Google!</li>
      <li>Serif vs. Sans-serif</li>
      <li><a href="https://www.w3schools.com/cssref/pr_font_font-family.asp" target="_blank">font-family</a></li>
      <li><a href="https://www.w3schools.com/cssref/pr_font_weight.asp" target="_blank">font-weight</a></li>
      <li><a href="https://www.w3schools.com/cssref/css3_pr_text-shadow.asp" target="_blank">text-shadow</a></li>
    </ul>
  </div>
</div>
<!-- End Fonts -->

<!-- Links using the Anchor Tag -->
<div class="row" id="anchor">
  <h2 class="col-md-3"> Links using the Anchor Tag</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>What's an <a href="https://www.w3schools.com/TAgs/tag_a.asp" target="_blank">anchor</a> tag?</li>
      <li>How do we open our link in a new tab?</li>
      <li>What can we make into a link?</li>
    </ul>
  </div>
</div>
<!-- End Links using the Anchor Tag -->

<!-- Maps -->
<div class="row" id="maps">
  <h2 class="col-md-3">Google Maps</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://www.google.com/maps/@36.6162087,-119.1390356,12z" target="_blank">Google Maps</a></li>
      <li>Enter an address</li>
      <li>Use the embed to add it to our site!</li>
    </ul>
  </div>
</div>
<!-- End Maps -->
