<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('nav')"> Build a Nav</li>
      <li class="link"
        (click)="scrollIntoView('display')"> Display Property</li>
    </ul>
  </div>
</div>

<!-- Build a Nav -->
<div class="row" id="nav">
  <h2 class="col-md-3">Build a Nav</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Use the UL, LI</li>
      <li>Brands &amp; <a href="https://www.freelogodesign.org/index.html" target="_blank">Logos</a></li>
    </ul>
  </div>
</div>
<!-- End Build a Nav -->

<!-- Display Property -->
<div class="row" id="display">
  <h2 class="col-md-3">Display Property</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="http://www.w3schools.com/cssref/pr_class_display.asp" target="_blank">Display</a> property</li>
      <li>Block</li>
      <li>Inline</li>
      <li>Inline-Block</li>
      <li>None</li>
      <li><a href="https://css-tricks.com/almanac/properties/d/display/" target="_blank">More...</a></li>
      <li>Display vs Visibility</li>
    </ul>
  </div>
</div>
<!-- End Display Property -->
