<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('maps')"> Google Maps</li>
      <li class="link"
        (click)="scrollIntoView('audio-video')"> Audio &amp; Video</li>
      <li class="link"
        (click)="scrollIntoView('media')"> Media View Port and Media Queries</li>
      <li class="link"
        (click)="scrollIntoView('flex')"> Flexbox</li>
      <li class="link"
        (click)="scrollIntoView('oocss')"> OOCSS</li>
      <li class="link"
        (click)="scrollIntoView('tree')"> CSS Family Tree</li>
      <li class="link"
        (click)="scrollIntoView('animate')"> CSS Transform &amp; Animations</li>
    </ul>
  </div>
</div>

<!-- Maps -->
<div class="row" id="maps">
  <h2 class="col-md-3">Google Maps</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://www.google.com/maps/@36.6162087,-119.1390356,12z" target="_blank">Google Maps</a></li>
      <li>Enter an address</li>
      <li>Use the embed to add it to our site!</li>
    </ul>
  </div>
</div>
<!-- End Maps -->

<!-- Audio &amp; Video -->
<div class="row" id="audio-video">
  <h2 class="col-md-3">Audio &amp; Video</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Click <a href="https://www.w3schools.com/html/html5_audio.asp" target="_blank" >here</a> to learn about audio</li>
      <li>
        <audio controls>
          <source src="./assets/lightsaber.wav" type="audio/wav">
        </audio>
      </li>
      <li>Click <a href="https://www.w3schools.com/html/html5_video.asp"  target="_blank">here</a> to learn about embedded video</li>
      <video width="400" height="400" controls>
        <source src="example.mov" type="video/mp4">
      </video>
      <li>Or, you can use <a href="https://www.youtube.com/" target="_blank">YouTube</a> to embed them!</li>
    </ul>
    <span class="col-md-8 col-md-offset-2">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0LHxvxdRnYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </span>
  </div>
</div>
<!-- End Audio &amp; Video -->

<!-- Media View Port and Media Queries -->
<div class="row" id="media">
  <h2 class="col-md-3">Media View Port and Media Queries</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Media View Port <a href="https://www.w3schools.com/css/css_rwd_viewport.asp">Click Here</a></li>
      <li>Media Queries <a href="https://www.w3schools.com/css/css_rwd_mediaqueries.asp">Click Here</a></li>
    </ul>
  </div>
</div>
<!-- End Media View Port and Media Queries -->

<!-- Flexbox -->
<div class="row" id="flex">
  <h2 class="col-md-3">Flexbox</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Flexbox in <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">CSS Tricks</a></li>
      <li>Play Flexbox Froggy <a href="http://flexboxfroggy.com/" target="_blank">here</a></li>
    </ul>
  </div>
</div>
<!-- End Flexbox -->

<!-- OOCSS -->
<div class="row" id="oocss">
  <h2 class="col-md-3">OOCSS</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://www.smashingmagazine.com/2011/12/an-introduction-to-object-oriented-css-oocss/" target="_blank">OOCSS</a></li>
    </ul>
  </div>
</div>
<!-- End OOCSS -->

<!-- CSS Family Tree -->
<div class="row" id="tree">
  <h2 class="col-md-3">CSS Family Tree</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>:children  click <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Child_selectors" target="_blank">here</a>.</li>
      <!-- <li>nth-child click <a href="https://css-tricks.com/almanac/selectors/n/nth-child/" target="_blank">here</a>.</li> -->
      <li>Whats this Tilde thing <a href="http://stackoverflow.com/questions/10782054/what-does-the-tilde-squiggle-twiddle-css-selector-mean" target="_blank">(~)</a> all about?</li>
    </ul>
  </div>
</div>
<!-- End CSS Family Tree -->

<!-- CSS Transform &amp; Animations -->
<div class="row">
  <h2 class="col-md-3">CSS Transform &amp; Animations</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Do we <strong>need</strong> JS to make elements react?</li>
      <li><a href="https://css-tricks.com/almanac/properties/t/transform/#article-header-id-3" target="_blank">Translate</a></li>
      <li>A little more in-depth <a href="http://www.w3schools.com/css/css3_2dtransforms.asp" target="_blank">reference</a></li>
      <li>How about we <a href="https://css-tricks.com/almanac/properties/t/transform/#article-header-id-7" target="_blank">3D</a> this sucker?</li>
      <li><a href="https://css-tricks.com/almanac/properties/a/animation/" target="_blank">Animations</a>, anyone?</li>
      <li><a href="http://www.w3schools.com/css/css3_animations.asp" target="_blank">More</a> detail about animations</li>
    </ul>
  </div>
</div>
<!-- End CSS Transform &amp; Animations -->
