<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('classes')"> Classes</li>
      <li class="link"
        (click)="scrollIntoView('promise')"> Promise & Async/Await</li>
      <!-- <li class="link"
        (click)="scrollIntoView('es6')"> ES6</li> -->
    </ul>
  </div>
</div>

<!-- Classes -->
<div class="row" id="classes">
  <h2 class="col-md-3">Classes</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Declaration</li>
      <li>Inheritance</li>
    </ul>
  </div>
</div>
<!-- End Classes -->

<!-- Promise & Async/Await -->
<div class="row" id="promise">
  <h2 class="col-md-3">Promise & Async/Await</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Promise</li>
      <li>Async/Await</li>
    </ul>
  </div>
</div>
<!-- End Promise & Async/Await -->

<!-- ES6 -->
<!-- <div class="row" id="es6">
  <h2 class="col-md-3">ES6</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Let, Const</li>
      <li>Arrow functions</li>
      <li>String interpolation</li>
      <li>Object matching</li>
    </ul>
  </div>
</div> -->
<!-- End ES6 -->