<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('setup')"> Setup</li>
      <li class="link"
          (click)="scrollIntoView('intro')"> Introductions</li>
      <li class="link"
          (click)="scrollIntoView('icebreaker')"> Icebreaker</li>
    </ul>
  </div>
</div>

<!-- Setup -->
<div class="row" id="setup">
  <h2 class="col-md-3">Setup</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://slack.com/" target="_blank">Slack</a></li>
      <li><a href="https://git-scm.com/download" target="_blank">Git</a></li>
      <img src="./assets/git-option.png" style="width:400px; height:300px" alt="Git Option">
      <li>**Make sure you check this option</li>
      <li><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a></li>
      <li>Packages to add to VSC:</li>
      <ul style="margin-left: 50px; list-style-type: circle;">
        <li>Open in Browser</li>
        <!-- <li>Auto Rename Tag</li> -->
        <li>Bracket pair colorizer</li>
      </ul>
      <li><a href="https://github.com" target="_blank">Github</a></li>
      <li><a href="https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/" target="_blank">SSH keys</a></li>
      <li>**Windows if you're having trouble with the last step, try:<br><code>cat ~/.ssh/id_rsa.pub | clip</code></li>
    </ul>
  </div>
</div>
<!-- End Setup -->

<!-- Introductions -->
<div class="row" id="intro">
  <h2 class="col-md-3">Introductions</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Who am I?</li>
      <li>Who are you?</li>
    </ul>
  </div>
</div>
<!-- End Introductions -->

<!-- Icebreaker -->
<div class="row" id="icebreaker">
  <h2 class="col-md-3">Icebreaker</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Give yourself a point</li>
      <li>Free association</li>
    </ul>
  </div>
</div>
<!-- End Icebreaker -->
