<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('flex')"> Flexbox</li>
      <li class="link"
        (click)="scrollIntoView('oocss')"> OOCSS</li>
      <li class="link"
        (click)="scrollIntoView('tree')"> CSS Family Tree</li>
      <li class="link"
        (click)="scrollIntoView('animate')"> CSS Transform &amp; Animations</li>
      <li class="link"
        (click)="scrollIntoView('bootstrap')"> Bootstrap</li>
      <li class="link"
        (click)="scrollIntoView('helpers')"> Bootstrap Helper Classes</li>
    </ul>
  </div>
</div>

<!-- Flexbox -->
<div class="row" id="flex">
  <h2 class="col-md-3">Flexbox</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Flexbox in <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">CSS Tricks</a></li>
      <li>Play Flexbox Froggy <a href="http://flexboxfroggy.com/" target="_blank">here</a></li>
    </ul>
  </div>
</div>
<!-- End Flexbox -->

<!-- OOCSS -->
<div class="row" id="oocss">
  <h2 class="col-md-3">OOCSS</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://www.smashingmagazine.com/2011/12/an-introduction-to-object-oriented-css-oocss/" target="_blank">OOCSS</a></li>
    </ul>
  </div>
</div>
<!-- End OOCSS -->

<!-- CSS Family Tree -->
<div class="row" id="tree">
  <h2 class="col-md-3">CSS Family Tree</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>:children  click <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Child_selectors" target="_blank">here</a>.</li>
      <!-- <li>nth-child click <a href="https://css-tricks.com/almanac/selectors/n/nth-child/" target="_blank">here</a>.</li> -->
      <li>Whats this Tilde thing <a href="http://stackoverflow.com/questions/10782054/what-does-the-tilde-squiggle-twiddle-css-selector-mean" target="_blank">(~)</a> all about?</li>
    </ul>
  </div>
</div>
<!-- End CSS Family Tree -->

<!-- CSS Transform &amp; Animations -->
<div class="row">
  <h2 class="col-md-3">CSS Transform &amp; Animations</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Do we <strong>need</strong> JS to make elements react?</li>
      <li><a href="https://css-tricks.com/almanac/properties/t/transform/#article-header-id-3" target="_blank">Translate</a></li>
      <li>A little more in-depth <a href="http://www.w3schools.com/css/css3_2dtransforms.asp" target="_blank">reference</a></li>
      <li>How about we <a href="https://css-tricks.com/almanac/properties/t/transform/#article-header-id-7" target="_blank">3D</a> this sucker?</li>
      <li><a href="https://css-tricks.com/almanac/properties/a/animation/" target="_blank">Animations</a>, anyone?</li>
      <li><a href="http://www.w3schools.com/css/css3_animations.asp" target="_blank">More</a> detail about animations</li>
    </ul>
  </div>
</div>
<!-- End CSS Transform &amp; Animations -->

<!-- Bootstrap -->
<div class="row" id="bootstrap">
  <h2 class="col-md-3">Bootstrap</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Click <a href="http://getbootstrap.com/getting-started/#download" target="_blank">here</a> to download Bootstrap.</li>
      <li>Copy Files</li>
      <li>In order to use a framework, you have to reference it. The two ways we will talk about are using a <a href="https://www.bootstrapcdn.com/" target="_blank">CDN</a> and native linking.</li>
      <li>Read more <a href="https://en.wikipedia.org/wiki/Content_delivery_network" target="_blank">here</a>.</li>
    </ul>
    <p class="point">Understanding Bootstrap <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-grid-system.php" target="_blank">Grid System</a> and <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">more</a>.</p>
  </div>
</div>
<!-- End Bootstrap -->

<!-- Bootstrap Helper Classes -->
<div class="row" id="helpers">
  <h2 class="col-md-3">Bootstrap Helper Classes</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://getbootstrap.com/docs/3.4/css/#images-responsive" target="_blank">img-responsive</a></li>
      <li>Helper classes <a href="https://getbootstrap.com/docs/3.4/css/#helper-classes" target="_blank">here</a></li>
      <li>Google Fonts <a href="https://www.google.com/fonts" target="_blank">here</a></li>
      <li>Font Awesome <a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">here</a></li>
    </ul>
  </div>
</div>
<!-- End Bootstrap Helper Classes -->
