<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('anchor')"> Links using the Anchor Tag</li>
      <li class="link"
        (click)="scrollIntoView('maps')"> Google Maps</li>
      <li class="link"
        (click)="scrollIntoView('audio-video')"> Audio &amp; Video</li>
    </ul>
  </div>
</div>

<!-- Links using the Anchor Tag -->
<div class="row" id="anchor">
  <h2 class="col-md-3"> Links using the Anchor Tag</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>What's an <a href="https://www.w3schools.com/TAgs/tag_a.asp" target="_blank">anchor</a> tag?</li>
      <li>How do we open our link in a new tab?</li>
      <li>What can we make into a link?</li>
    </ul>
  </div>
</div>
<!-- End Links using the Anchor Tag -->

<!-- Maps -->
<div class="row" id="maps">
  <h2 class="col-md-3">Google Maps</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://www.google.com/maps/@36.6162087,-119.1390356,12z" target="_blank">Google Maps</a></li>
      <li>Enter an address</li>
      <li>Use the embed to add it to our site!</li>
    </ul>
  </div>
</div>
<!-- End Maps -->

<!-- Audio &amp; Video -->
<div class="row" id="audio-video">
  <h2 class="col-md-3">Audio &amp; Video</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Click <a href="https://www.w3schools.com/html/html5_audio.asp" target="_blank" >here</a> to learn about audio</li>
      <li>
        <audio controls>
          <source src="./assets/lightsaber.wav" type="audio/wav">
        </audio>
      </li>
      <li>Click <a href="https://www.w3schools.com/html/html5_video.asp"  target="_blank">here</a> to learn about embedded video</li>
      <!-- <video width="400" height="400" controls>
        <source src="example.mov" type="video/mp4">
      </video> -->
      <li>Or, you can use <a href="https://www.youtube.com/" target="_blank">YouTube</a> to embed them!</li>
    </ul>
    <span class="col-md-8 col-md-offset-2">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0LHxvxdRnYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </span>
  </div>
</div>
<!-- End Audio &amp; Video -->
