<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('func')"> Functions</li>
      <li class="link"
        (click)="scrollIntoView('scope')"> Scope & Hoisting</li>
      <li class="link"
        (click)="scrollIntoView('classes')"> Classes</li>
      <!-- <li class="link"
        (click)="scrollIntoView('es6')"> ES6</li> -->
    </ul>
  </div>
</div>

<!-- Functions -->
<div class="row" id="func">
  <h2 class="col-md-3">Functions</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Declaration</li>
      <li>Expression</li>
      <li>Constructor (not commonly used)</li>
    </ul>
  </div>
</div>
<!-- End Functions -->

<!-- Scope & Hoisting -->
<div class="row" id="scope">
  <h2 class="col-md-3">Scope & Hoisting</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Declaration</li>
      <li>Expression</li>
      <li>Constructor (not commonly used)</li>
    </ul>
  </div>
</div>
<!-- End Scope & Hoisting -->

<!-- Classes -->
<div class="row" id="classes">
  <h2 class="col-md-3">Classes</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Declaration</li>
      <li>Inheritance</li>
    </ul>
  </div>
</div>
<!-- End Classes -->

<!-- ES6 -->
<!-- <div class="row" id="es6">
  <h2 class="col-md-3">ES6</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Let, Const</li>
      <li>Arrow functions</li>
      <li>String interpolation</li>
      <li>Object matching</li>
    </ul>
  </div>
</div> -->
<!-- End ES6 -->
