<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('loop')"> Loops and Iteration Cont.</li>
      <li class="link"
        (click)="scrollIntoView('built-in')"> Built-in Objects</li>
    </ul>
  </div>
</div>

<!-- Loops and Iteration Cont. -->
<div class="row" id="loop">
  <h2 class="col-md-3">Loops and Iteration Cont.</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>While</li>
      <li>For in</li>
      <li>For of</li>
    </ul>
  </div>
</div>
<!-- End Loops and Iteration Cont. -->

<!-- Built-in Objects -->
<div class="row" id="built-in">
  <h2 class="col-md-3">Built-in Objects</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Date</li>
      <li>Math</li>
      <li>String</li>
      <li>Array</li>
      <li>Object</li>
    </ul>
  </div>
</div>
<!-- End Built-in Objects -->
