<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('func')"> Functions</li>
      <!-- <li class="link"
        (click)="scrollIntoView('es6')"> ES6</li> -->
    </ul>
  </div>
</div>

<!-- Functions -->
<div class="row" id="func">
  <h2 class="col-md-3">Functions</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Functions</li>
    </ul>
  </div>
</div>
<!-- End Functions -->

<!-- ES6 -->
<div class="row" id="es6">
  <h2 class="col-md-3">ES6</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Let, Const</li>
      <li>Arrow functions</li>
      <li>String interpolation</li>
      <li>Object matching</li>
    </ul>
  </div>
</div>
<!-- End ES6 -->
