<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('oocss')"> OOCSS</li>
      <li class="link"
        (click)="scrollIntoView('media')"> Media View Port and Media Queries</li>
      <li class="link"
        (click)="scrollIntoView('tree')"> CSS Family Tree</li>
    </ul>
  </div>
</div>

<!-- OOCSS -->
<div class="row" id="oocss">
  <h2 class="col-md-3">OOCSS</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://www.smashingmagazine.com/2011/12/an-introduction-to-object-oriented-css-oocss/" target="_blank">OOCSS</a></li>
    </ul>
  </div>
</div>
<!-- End OOCSS -->

<!-- Media View Port and Media Queries -->
<div class="row" id="media">
  <h2 class="col-md-3">Media View Port and Media Queries</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Media View Port <a href="https://www.w3schools.com/css/css_rwd_viewport.asp" target="_blank">Click Here</a></li>
      <li>Media Queries <a href="https://www.w3schools.com/css/css_rwd_mediaqueries.asp" target="_blank">Click Here</a></li>
    </ul>
  </div>
</div>
<!-- End Media View Port and Media Queries -->

<!-- CSS Family Tree -->
<div class="row" id="tree">
  <h2 class="col-md-3">CSS Family Tree</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>:children  click <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Child_selectors" target="_blank">here</a>.</li>
      <!-- <li>nth-child click <a href="https://css-tricks.com/almanac/selectors/n/nth-child/" target="_blank">here</a>.</li> -->
      <li>Whats this Tilde thing <a href="http://stackoverflow.com/questions/10782054/what-does-the-tilde-squiggle-twiddle-css-selector-mean" target="_blank">(~)</a> all about?</li>
    </ul>
  </div>
</div>
<!-- End CSS Family Tree -->
