<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('intro-js')"> Introduction to Javascript</li>
    </ul>
  </div>
</div>

<!-- Introduction to Javascript -->
<div class="row" id="intro-js">
  <h2 class="col-md-3">Introduction to Javascript</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>What is Javascript?</li>
      <li>Data Types</li>
    </ul>
  </div>
</div>
<!-- End Introduction to Javascript -->