<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('git-rebasing')"> Git Rebasing</li>
      <li class="link"
        (click)="scrollIntoView('inspector')"> Using your Inspector</li>
      <li class="link"
        (click)="scrollIntoView('nav')"> Build a Nav</li>
    </ul>
  </div>
</div>

<!-- Git Rebasing -->
<div class="row" id="git-rebasing">
  <h2 class="col-md-3">Git Rebasing</h2>
  <div class="col-md-9">
    <p class="point">Git rebase in its simplest form is a command which will merge another branch into the branch where you are currently working, and move all of the local commits that are ahead of the rebased branch to the top of the history on that. <br> Read more <a href="https://www.atlassian.com/git/tutorials/merging-vs-rebasing" target="_blank">here</a>.</p>
  </div>
</div>
<!-- End Git Rebasing -->

<!-- Using your Inspector -->
<div class="row" id="inspector">
  <h2 class="col-md-3"> Using your Inspector</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>What if we want to test some code without having to save it?</li>
      <li>Inspect Element to the Rescue!</li>
      <li>Right click --&gt; Inspect Element (make sure you're using Chrome!)</li>
      <li>Left: HTML</li>
      <li>Right: CSS</li>
    </ul>
  </div>
</div>
<!-- End Using your Inspector -->

<!-- Build a Nav -->
<div class="row" id="nav">
  <h2 class="col-md-3">Build a Nav</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://www.w3schools.com/css/css_float.asp" target="_blank">Floats</a></li>
    </ul>
  </div>
</div>
<!-- End Build a Nav -->
