<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('helpers')"> Boostrap Grid System & Components</li>
      <li class="link"
        (click)="scrollIntoView('intro-js')"> Introduction to Javascript</li>
    </ul>
  </div>
</div>

<!-- Boostrap Grid System & Components -->
<div class="row" id="helpers">
  <h2 class="col-md-3">Bootstrap Grid System & Components</h2>
  <div class="col-md-9">
    <ul class="point">
      <li><a href="https://getbootstrap.com/docs/4.3/layout/grid/" target="_blank" rel="noopener noreferrer">Grid System</a></li>
      <li><a href="https://getbootstrap.com/docs/4.3/content/images/" target="_blank">Responsive images</a></li>
      <li><a href="https://getbootstrap.com/docs/4.3/components/buttons/" target="_blank" rel="noopener noreferrer">Components</a></li>
    </ul>
  </div>
</div>
<!-- End Boostrap Grid System & Components -->

<!-- Introduction to Javascript -->
<div class="row" id="intro-js">
  <h2 class="col-md-3">Introduction to Javascript</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>What is Javascript?</li>
      <li>Data Types</li>
    </ul>
  </div>
</div>
<!-- End Introduction to Javascript -->